@import "bourbon/bourbon"
@import "neat/neat"
@import "normalize/normalize"

div, span, a
	display: block
a
	text-decoration: none
	color: #fff
	font-size: 18px
	line-height: 20px
body
	font-family: 'Times New Roman'
.wrapper
	width: 1021px
	margin-left: auto
	margin-right: auto
.block-images
	float: left
	+size(300px auto)
	border-right: 4px solid #000
	span
		+size(100% 124px)
	span:nth-child(1)
		background-color: #0bb530

	.question
		+size(76px 76px)
		background-color: #FFF
		border-radius: 5px
		color: transparent
	span:nth-child(1), span:nth-child(3)
		background-image: url("img/question.png")
		background-repeat: no-repeat
		background-position: 210px 39px
		padding: 15px
	a:nth-child(1):hover > span, a:nth-child(3):hover > span
		background-color: #0DCC36
	a:nth-child(2) > span
		background-color: #fff
		padding: 0
		height: 122px
	span.phones
		padding-left: 140px
		padding-top: 25px
		background-color: #fff
		background-image: url("img/call.png")
		background-repeat: no-repeat
		background-position: 0 0
		color: #000
	span:nth-child(3)
		background-color: #b6670b
.why
	float: left
	+size(100% 250px)
	span:nth-child(1)
		background-image: url("img/why1.jpg")
		background-repeat: no-repeat
		background-position: 50% 20px		
	span:nth-child(2)
		background-image: url("img/why2.jpg")
		background-repeat: no-repeat
		background-position: 50% 20px
	span:nth-child(3)
		background-image: url("img/why3.jpg")
		background-repeat: no-repeat
		background-position: 50% 20px
	span
		width: 33%
		height: 100%
		float: left
		background-color: #faf1f2
		a
			color: #000
			text-align: center
			padding-top: 60%
.services
	position: relative
	width: 721px
	float: left
	margin-left: -5px	
	span
		width: 100%
		text-align: center
		padding-top: 36%
		line-height: 15px
		font-size: 14px
	a
		float: left
		+size(247px 127px)
		background-repeat: no-repeat
		background-position: 0 0
		background-size: cover
		position: absolute
		&:hover
			color: #000
		&:nth-child(1)
			background-image: url("img/furniture_bg_sprite1.png")
			z-index: 3
			background-position: 5px 0			
			width: 227px
			&:after
				content: ''
				position: absolute
				z-index: 4
				top: 0
				left: 227px
				width: 0 
				height: 0 
				border-top: 65px solid transparent
				border-bottom: 60px solid transparent	
				border-left: 31px solid #E8BC46
			span
				padding-top: 40%
		&:nth-child(1):hover
			background-position: 5px -128px
			&:after
				border-left: 31px solid #fff
		&:nth-child(2)
			background-image: url("img/cargo_bg_sprite1.png")
			z-index: 2
			left: 225px
			&:hover
				background-position: 0 -127.7px
		&:nth-child(3)
			background-image: url("img/building-materials_bg_sprite1.png")
			margin-left: -10px
			z-index: 1
			left: 456px
			&:hover
				background-position: 0 -137px
			span
				padding-top: 40%
		&:nth-child(4)
			background-image: url("img/technics_bg_sprite1.png")
			z-index: 3
			top: 123px
			background-position: 5px 0			
			width: 227px
			&:after
				content: ''
				position: absolute
				z-index: 4
				top: 0
				left: 227px
				width: 0 
				height: 0 
				border-top: 64px solid transparent
				border-bottom: 60px solid transparent	
				border-left: 31px solid #E08410
		&:nth-child(4):hover
			background-position: 5px -130px
			&:after
				border-left: 31px solid #fff
		&:nth-child(5)
			background-image: url("img/loader_bg_sprite.png")
			z-index: 2
			left: 224px
			top: 122px
			background-position: 1px 0
			&:hover
				background-position: 0 -128px 
		&:nth-child(6)
			background-image: url("img/rubbish_bg_sprite.png")
			margin-left: -10px
			z-index: 1
			left: 457px
			top: 122px
			width: 249px
			&:hover
				background-position: 0 -139px
		&:nth-child(7)
			background-image: url("img/moving_bg_sprite1.png")
			z-index: 3
			top: 246px
			background-position: 5px 0
			width: 226px
			height: 124.2px
			&:after
				content: ''
				position: absolute
				z-index: 4
				top: 0
				left: 226px
				width: 0 
				height: 0 
				border-top: 64px solid transparent
				border-bottom: 60px solid transparent	
				border-left: 31px solid #DA4319
		&:nth-child(7):hover
			background-position: 4px -128px
			&:after
				border-left: 31px solid #fff
		&:nth-child(8)
			background-image: url("img/minibus_bg_sprite1.png")
			z-index: 2
			left: 224.5px
			top: 245px
			height: 126px
			&:hover
				background-position: 0 -128px
		&:nth-child(9)
			background-image: url("img/ecommerce_bg_sprite.png")
			margin-left: -10px
			z-index: 1
			left: 458px
			top: 246.3px	
			height: 123.9px		
			background-position: 0 -11px
			&:hover
				background-position: 0 -148px

