html{box-sizing:border-box}
*,::after,::before{box-sizing:inherit}
html{font-size:100%;line-height:1.5em;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;*display:inline;*zoom:1;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
blockquote{margin:1.5em 40px}
dfn{font-style:italic}
h1{font-size:2em;line-height:1.5em;margin-top:.75em;margin-bottom:.75em}
h2{font-size:1.5em;line-height:2em;margin-top:1em;margin-bottom:1em}
h3{font-size:1.17em;line-height:1.28205em;margin-top:1.28205em;margin-bottom:1.28205em}
h4{font-size:1em;line-height:1.5em;margin-top:1.5em;margin-bottom:1.5em}
h5{font-size:.83em;line-height:1.80723em;margin-top:1.80723em;margin-bottom:1.80723em}
h6{font-size:.67em;line-height:2.23881em;margin-top:2.23881em;margin-bottom:2.23881em}
mark{background:#ff0;color:#000}
p,pre{margin:1.5em 0}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1.5em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ol,nav ul{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:1.5em 40px}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
form{margin:0}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;*font-family:sans-serif;*vertical-align:middle}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{margin:0 2px;border-color:silver;border-top-width:.0625em;border-top-style:solid;padding-top:.4625em;border-bottom-width:.0625em;border-bottom-style:solid;padding-bottom:.9125em;border-left-width:.0625em;border-left-style:solid;padding-left:.875em;border-right-width:.0625em;border-right-style:solid;padding-right:.875em}
legend{border:0;padding:0;*margin-left:-7px}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
a,div,span{display:block}
a{text-decoration:none;color:#fff;font-size:18px;line-height:20px}
body{font-family:"Times New Roman"}
.wrapper{width:1021px;margin-left:auto;margin-right:auto}
.block-images{float:left;height:auto;width:300px;border-right:4px solid #000}
.block-images span{height:124px;width:100%}
.block-images span:nth-child(1){background-color:#0bb530}
.block-images .question{height:76px;width:76px;background-color:#FFF;border-radius:5px;color:transparent}
.block-images span:nth-child(1),.block-images span:nth-child(3){background-image:url(img/question.png);background-repeat:no-repeat;background-position:210px 39px;padding:15px}
.block-images a:nth-child(1):hover>span,.block-images a:nth-child(3):hover>span{background-color:#0DCC36}
.block-images a:nth-child(2)>span{background-color:#fff;padding:0;height:122px}
.block-images span.phones{padding-left:140px;padding-top:25px;background-color:#fff;background-image:url(img/call.png);background-repeat:no-repeat;background-position:0 0;color:#000}
.block-images span:nth-child(3){background-color:#b6670b}
.why{float:left;height:250px;width:100%}
.why span:nth-child(1){background-image:url(img/why1.jpg);background-repeat:no-repeat;background-position:50% 20px}
.why span:nth-child(2){background-image:url(img/why2.jpg);background-repeat:no-repeat;background-position:50% 20px}
.why span:nth-child(3){background-image:url(img/why3.jpg);background-repeat:no-repeat;background-position:50% 20px}
.why span{width:33%;height:100%;float:left;background-color:#faf1f2}
.why span a{color:#000;text-align:center;padding-top:60%}
.services{position:relative;width:721px;float:left;margin-left:-5px}
.services span{width:100%;text-align:center;padding-top:36%;line-height:15px;font-size:14px}
.services a{float:left;height:127px;width:247px;background-repeat:no-repeat;background-position:0 0;background-size:cover;position:absolute}
.services a:hover{color:#000}
.services a:nth-child(1){background-image:url(img/furniture_bg_sprite1.png);z-index:3;background-position:5px 0;width:227px}
.services a:nth-child(1):after{content:"";position:absolute;z-index:4;top:0;left:227px;width:0;height:0;border-top:65px solid transparent;border-bottom:60px solid transparent;border-left:31px solid #E8BC46}
.services a:nth-child(1) span{padding-top:40%}
.services a:nth-child(1):hover{background-position:5px -128px}
.services a:nth-child(1):hover:after{border-left:31px solid #fff}
.services a:nth-child(2){background-image:url(img/cargo_bg_sprite1.png);z-index:2;left:225px}
.services a:nth-child(2):hover{background-position:0 -127.7px}
.services a:nth-child(3){background-image:url(img/building-materials_bg_sprite1.png);margin-left:-10px;z-index:1;left:456px}
.services a:nth-child(3):hover{background-position:0 -137px}
.services a:nth-child(3) span{padding-top:40%}
.services a:nth-child(4){background-image:url(img/technics_bg_sprite1.png);z-index:3;top:123px;background-position:5px 0;width:227px}
.services a:nth-child(4):after{content:"";position:absolute;z-index:4;top:0;left:227px;width:0;height:0;border-top:64px solid transparent;border-bottom:60px solid transparent;border-left:31px solid #E08410}
.services a:nth-child(4):hover{background-position:5px -130px}
.services a:nth-child(4):hover:after{border-left:31px solid #fff}
.services a:nth-child(5){background-image:url(img/loader_bg_sprite.png);z-index:2;left:224px;top:122px;background-position:1px 0}
.services a:nth-child(5):hover{background-position:0 -128px}
.services a:nth-child(6){background-image:url(img/rubbish_bg_sprite.png);margin-left:-10px;z-index:1;left:457px;top:122px;width:249px}
.services a:nth-child(6):hover{background-position:0 -139px}
.services a:nth-child(7){background-image:url(img/moving_bg_sprite1.png);z-index:3;top:246px;background-position:5px 0;width:226px;height:124.2px}
.services a:nth-child(7):after{content:"";position:absolute;z-index:4;top:0;left:226px;width:0;height:0;border-top:64px solid transparent;border-bottom:60px solid transparent;border-left:31px solid #DA4319}
.services a:nth-child(7):hover{background-position:4px -128px}
.services a:nth-child(7):hover:after{border-left:31px solid #fff}
.services a:nth-child(8){background-image:url(img/minibus_bg_sprite1.png);z-index:2;left:224.5px;top:245px;height:126px}
.services a:nth-child(8):hover{background-position:0 -128px}
.services a:nth-child(9){background-image:url(img/ecommerce_bg_sprite.png);margin-left:-10px;z-index:1;left:458px;top:246.3px;height:123.9px;background-position:0 -11px}
.services a:nth-child(9):hover{background-position:0 -148px}